* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(sor/design/teglafal.jpg);
    margin: 0;
    color: beige;
}
main {
    margin: auto;
    width: 80%;
    max-width: 1000px;
    background-color: #333333;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
        "h h"
        "a n"
        "f f";
}

header {
    grid-area: h;
    background-image: url(sor/design/beer-new_401732638.jpg);
    height: 300px;
    background-size: cover;
}
h1 {
    font-weight: 900;
    font-family: garamond;
    letter-spacing: 4px;
    font-size: 32px;
    text-align: left;
    margin-top: 30px;
    margin-left: 30px;
}
nav {
    grid-area: n;
}

nav li {
    list-style: none;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 5px;
}

nav li:hover {
    background-color: lightgray;
}

a {
    text-decoration: none;
    color: red;
    font-weight: bolder;
    padding: 2px;
}

a:hover {
    color: white;
}

article {
    grid-area: a;
    text-align: justify;
    font-size: 10px;
}
article h3 {
    font-size: 15px;
    margin-left: 25px;
}

article li {
    list-style: square;
}
.kep {
    float: left;
    width: 300px;
    margin-left: 25px;
    margin-bottom: 25px;
    margin-right: 45px;
}
img {
    width: 100%;
}

footer {
    grid-area: f;
    height: 40px;
    text-align: center;
    background-color: gray;
    color: white;
    font-size: 15px;
    
}

@media screen and (max-width: 700px) {
    main {
        grid-template-areas: 
            "h"
            "n"
            "a"
            "f";
        width: 100%;
        grid-template-columns: 1fr;
        margin-right: 25px;
    }
    .kep {
        float: none;
    }
    ul {
        padding: 25px;
        text-align: center;
    }
}